<!DOCTYPE html>
    <head>
        <title>Quotr</title>
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/styles/index.css">
    </head>
    <body>
        <ul class="header">
            <li class="name">Quoter</li>
            <div class="right">
                <li><a href="/login">Login <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="/signup">Signup <i class="fas fa-user-plus"></i> </a></li>
            </div>
        </ul>
        </br> </br> </br> </br>
        <h1>{{ quote }}</h1>
        <h3>{{ author }}</h3>
        <h4>{{ user }}</h4>
    </body>
</html>