* {
    font-family: Garamond;
}
body,html {
    width:100%;
    margin:0;
    background-image: url('/static/img/10.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    color:white;
}
.quotes h3 {
    text-align: center;
}
ul {
    list-style: none;
    text-align: center;
}
.quotes li {
    display: inline-block;
    max-width: 90%;
    border:1px solid;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right:10px;
    border-style:groove;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);
}
a {
    color:white;
    text-decoration: none;
    padding: 10px 10px;
}
.top {
    display: flex;
    flex-direction: row;
}
.top a {
    font-size: 20px;
    padding:13px 13px 13px 13px;
}
.two {
    margin-left: auto;
    font-size: 10px;
}